/* some designs taken from:
 * blog.royalsloth.eu
 */

html{
    /* font-family and background color taken from: devhints.io */
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    background-color: #f1f3f5;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

header {
    display: flex;
    align-items: baseline;
    max-width: 45rem; 
    justify-content: space-between;
    margin: 0 auto;
}

header a {
    text-decoration: none;
}

.light-text {
    font-weight: 300;
}

hr {
    max-width: 45rem; 
    margin: 0 auto;
}

main {
    max-width: 45rem; 
    margin: 0 auto;
}

ul {
    margin: 0;
}

li {
    margin: 0;
}

.experience > h3:first-of-type {
    margin: 0;
}

.job-header h3::after {
    content: "\00a0\00a0"; /* add a space */
}

.job-header {
    display: flex;
    align-items: baseline;
}

.text-date-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pad-left {
    padding: 0 0 0 1rem;
}

.margin-top {
    margin: 1rem 0 0 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin {
    margin: 0;
}


footer {
    min-height: 20vh;
}
