#header_name{
    text-align: center;
}

#header_info > .row > .col-sm > h4{
    text-align: center;
}

#content_main_wrapper{
    padding-right: 0;
    padding-left: 0;
    margin-right: 10px;
    margin-left: 10px;
}
